  <div class="login-container">
    <div class="login-form-container">
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="login-form">
        <mat-form-field class="input">
          <mat-label>Username</mat-label>
          <input  matInput formControlName="username" placeholder="Enter your username">
          <mat-error *ngIf="loginForm.get('username')?.hasError('required')">
            Username is required
          </mat-error>
        </mat-form-field>

        <mat-form-field  class="input">
          <mat-label >Password</mat-label>
          <input matInput formControlName="password" type="password" placeholder="Enter your password">
          <mat-error *ngIf="loginForm.get('password')?.hasError('required')">
            Password is required
          </mat-error>
          <mat-error *ngIf="loginForm.get('password')?.hasError('minlength')">
            Password must be at least 6 characters long
          </mat-error>
        </mat-form-field>

        <button mat-raised-button color="primary" type="submit">Login</button>
      </form>
    </div>
  </div>


